<?xml version="1.0" encoding="UTF-8"?>



<beans>

    <bean id="fruitDAO" class="fruit.Dao.impl.FruitDAOImpl"/>

    <bean id="fruitService" class="fruit.service.impl.FruitServiceImpl">
        <!-- property变迁表示属性，name表示属性名，ref表示引用其他bean的id值-->
        <property name="fruitDAO"  ref="fruitDAO"/>
    </bean>

    <!--这个bean标签的作用是 将来servletPath涉及的名字对应的是fruit，那么就要fruitController这个类 -->
    <bean id="fruit" class="fruit.controllers.fruitController">
        <property name="fruitService"  ref="fruitService"/>
    </bean>

</beans>